.root{
	-fx-background-color: #ecf0f1;
}

#button-update{
	-fx-text-fill: white;
	-fx-background-color: #2ecc71;
}

#button-update:hover{
	-fx-text-fill: white;
	-fx-background-color: #27ae60;
}

#button-update:pressed{
	-fx-text-fill: white;
	-fx-background-color: gray;
}

#button-cancel{
	-fx-text-fill: white;
	-fx-background-color: #e67e22;
}

#button-cancel:hover{
	-fx-text-fill: white;
	-fx-background-color: #d35400;
}

#button-cancel:pressed{
	-fx-text-fill: white;
	-fx-background-color: gray;
}