#button-yes{
	-fx-background-color:#95a5a6;
	-fx-text-fill:#ffffff;
}

#button-yes:hover{
	-fx-background-color:#7f8c8d;
}

#button-yes:pressed{
	-fx-background-color:gray;
}

#button-no{
	-fx-background-color:#95a5a6;
	-fx-text-fill:#ffffff;
}

#button-no:hover{
	-fx-background-color:#7f8c8d;
}

#button-no:pressed{
	-fx-background-color:gray;
}

.root{
	-fx-background-color: #ecf0f1;
	
}

.label{
	-fx-font-size:13px;
	-fx-font-family: tahoma;
}